modules = ["nodejs-20"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 37272000
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ChessConnect && npm run dev"
